.icon {
  width: fit-content;
  height: auto;

  &:hover {
    filter: brightness(95%);
  }
}

.primary {
  background-color: $primary;
  border-radius: 4px;
  padding: 4px 8px;

  &:hover {
    filter: brightness(95%);
  }
}
