.login {
  width: 500px;
  height: 600px;
  padding: 20% 10%;

  .login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login_form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .login {
    width: 100%;
    height: 100%;
  }
}