$white: rgba(255, 255, 255, 1);
$black: #343434;

$line: #A3A3A3;
$line-white: #E2e2e2;
$hr: #DBDBDB;
$textTitle: #656565FF;
$textPlaceholder: #ADADADFF;
$textSub: #8E8B82;
$disabled: #F3F3F3FF;
$red: #f12828;
$gray1: #5A5A5AFF;
$gray2: #BBBBBBFF;
$gray3: #EBEBEB;

$button_black: #494949;
$button_gray: #EDEDED;
$label: #C2C2C2;


$gold1: #b5851b;

/* SAMPLE COLOR*/
$primary: #7a583a;
$secondary: #d4bca7;
$secondary-light: #BBB2A7;

