$black: rgba(0,0,0,1);
$light-black: #222222;
$point-color: rgba(53, 182, 231, 1);
$textBody: #666666;
$textPlaceholder:  rgba(173, 173, 173, 1);
$white: rgba(255,255,255,1);
$line: rgba(230,230,230,1);
$textWhite: rgba(255,255,255,1);
$textTitle: rgba(86, 86, 86, 1);
$textSub: rgba(140, 140, 140, 1);
$placeholder: rgba(243, 243, 243, 1);
$gray1: rgba(90, 90, 90, 1);
$gray2: rgba(151, 151, 151, 1);
$gray3: rgba(187, 187, 187, 1);
$rob-roy: rgba(246, 191, 115, 1);
$red: #f12828;
$line2: rgba(239, 239, 239, 1);
