@charset "UTF-8";

$size: 1;
$total: 100;

/*
========================
  MARGIN, PADDING
========================
*/
@for $size from 1 to $total {
  .mt-#{$size} {
    margin-top: $size + px;
  }
  .ml-#{$size} {
    margin-left: $size + px;
  }
  .mr-#{$size} {
    margin-right: $size + px;
  }
  .mb-#{$size} {
    margin-bottom: $size + px;
  }
  .m-#{$size} {
    margin: $size + px;
  }
  .mx-#{$size} {
    margin-left: $size + px;
    margin-right: $size + px;
  }
  .my-#{$size} {
    margin-top: $size + px;
    margin-bottom: $size + px;
  }

  .pt-#{$size} {
    padding-top: $size + px;
  }
  .pl-#{$size} {
    padding-left: $size + px;
  }
  .pr-#{$size} {
    padding-right: $size + px;
  }
  .pb-#{$size} {
    padding-bottom: $size + px;
  }
  .p-#{$size} {
    margin: $size + px;
  }
  .px-#{$size} {
    padding-left: $size + px;
    padding-right: $size + px;
  }
  .py-#{$size} {
    padding-top: $size + px;
    padding-bottom: $size + px;
  }

  .gap-#{$size} {
    gap: $size + px;
  }
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  display: inline-block !important;
}

.hide {
  display: none !important;
}
