@charset "UTF-8";

@font-face {
  font-family: 'jua';
  font-style: normal;
  src: url("@/assets/fonts/KoPubWorld-Dotum-Light.woff") format('woff');
  //src: url("@/assets/fonts/Jua-Regular.woff") format('woff');
  //src: url("@/assets/fonts/MapoGoldenPier.woff") format('woff');
  //src: url("@/assets/fonts/KimjungchulMyungjo-Light.woff") format('woff');
  font-display: swap;
}

$jua: "jua";

@mixin font-style($weight, $type, $size, $color) {
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  color: $color;
  font-family: $type;
}

.option-description--text {
  @include font-style(500, $jua, 14px, $textTitle);
}

.option-description--text-red {
  @include font-style(500, $jua, 12px, $red);
}

@mixin font-weight-400() {
  font-weight: 400;
}

@mixin font-weight-500() {
  font-weight: 500;
}

@mixin font-weight-600() {
  font-weight: 600;
}

@mixin font-weight-700() {
  font-weight: 700;
}

@mixin font-weight-800() {
  font-weight: 800;
}

@mixin white() {
  color: $white;
}

@mixin black() {
  color: $black;
}

@mixin red() {
  color: $red;
}

@mixin textBody() {
  color: $textBody;
}

@mixin placeholder() {
  color: $textPlaceholder;
}

@mixin textTitle() {
  color: $textTitle
}

@mixin textSub() {
  color: $textSub
}

@mixin gray() {
  color: $gray1;
}

@mixin gray2() {
  color: $gray2;
}

@mixin label() {
  color: $label;
}

@mixin default() {
  letter-spacing: -0.39px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: $black;
  font-family: $jua;
}
