@charset "UTF-8";

@import "color";

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Nanum Gothic";
  src: url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800") format('font-woff2');
}

$nanum-normal: "Nanum Gothic";

@mixin font-style($weight, $type, $size, $color) {
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  color: $color;
  font-family: $type;
}

.option-description--text {
  @include font-style(500, $nanum-normal, 14px, $textTitle);
}
.option-description--text-blue {
  @include font-style(500, $nanum-normal, 14px, $point-color);
}
.option-description--text-red {
  @include font-style(500, $nanum-normal, 12px, $red);
}

@mixin font-weight-400() {
  font-weight: 400;
}
@mixin font-weight-500() {
  font-weight: 500;
}
@mixin font-weight-600() {
  font-weight: 600;
}@mixin font-weight-700() {
  font-weight: 700;
}
@mixin font-weight-800() {
  font-weight: 800;
}
@mixin white() {
  color: $white;
}
@mixin black() {
  color: $light-black;
}
@mixin red() {
  color: $red ;
}
@mixin pointColor() {
  color: $point-color;
}
@mixin textBody() {
  color: $textBody;
}
@mixin placeholder() {
  color: $textPlaceholder;
}
@mixin textTitle() {
  color: $textTitle
}
@mixin textSub() {
  color: $textSub;
}
@mixin gray() {
  color: $gray1;
}
@mixin yellow() {
  color: $rob-roy;
}
@mixin default() {
  letter-spacing: -0.39px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: $light-black;
  font-family: $nanum-normal;
}
